{% extends "data/base.html" %}

{% block content %}

    <main role="main" class="container">
        <h1 class="mt-4">{{ title }}</h1>
            <p> HTFome</HTFome> <a href="http://htf-app.eu-west-2.elasticbeanstalk.com/"></a> (http://htf-app.eu-west-2.elasticbeanstalk.com/) is a web application (webapp) designed to give users access to data regarding Human Transcription Factors (HTF’s),</p>
                <p> drugs which target HTF’s, and allow users to upload gene expression data for analysis in-browser.</p>

                <p> The webapp was developed as part of the Queen Mary University of London (QMUL) bioinformatics masters degree program.</p>
                <p> Application specifications can be found on the QMUL website. (https://qmplus.qmul.ac.uk/course/view.php?id=16766).</p>

                <p> Developers of this app were A.M. Andersen, K. Antoniuk, N. Hardie and A. Sutradhar.</p>
                <p> The source code for the app can be found on Github: (https://github.com/NHardie/HTFome)</p>
    </main>

<div class="col-12 col-lg-7">
                <h1 class="mt-5">HTFome</h1>



{% endblock content %}