{% extends "data/base.html" %}

{% block content %}

    <main role="main" class="container">
        <h1 class="mt-4">Drug Data Search</h1>
        <div class="container">
            <form action="{% url 'drug_results' %}" method="get">
                <input name="q" type="text" placeholder="Search drugs...">
            </form>
        </div>
        <button onclick="goBack()">Go Back</button>
            <script>
                function goBack() {
                window.history.back();
                }
            </script>


        <div class="card mb-4">
            <div class="card-body" style="margin-left:15px; font-size:19px">
                <h5 style="font-weight:600">{{ drug.drug_name }}</h5><hr>
                <p class="card-text text-muted h6"> ChEMBL ID: <a href="https://www.ebi.ac.uk/chembl/compound_report_card/{{ drug.drug_chembl_id }}/"> {{ drug.drug_chembl_id }} </a></p>
                <p class="card-text">Trade name(s): {{ drug.trade_name }}</p>
                <p class="card-text">Drug molecule type: {{ drug.drug_molecule_type }}</p>
                <object data="https://www.ebi.ac.uk/chembl/embed/#compound_report_card/{{ drug.drug_chembl_id }}/name_and_classification" width="100%" height="100%"></object>
            </div>
        </div>
    </main>
{% endblock content %}