{% extends "data/base.html" %}

{% block content %}

    <main role="main" class="drug container">
        <h1 class="mt-4">Drug Data Search</h1>
        <div class="container">
            <form action="{% url 'drug_results' %}" method="get">
                <input name="q" type="text" placeholder="Search drugs...">
            </form>
        </div>
        <button onclick="goBack()">Go Back</button>
            <script>
                function goBack() {
                window.history.back();
                }
            </script>


        <div class="drug info card mb-4">
            <div class="info card-body">
                <h2>{{ drug.drug_name }}</h2>
                <hr>
                <p class="card-text"><strong>ChEMBL ID:</strong> <a href="https://www.ebi.ac.uk/chembl/compound_report_card/{{ drug.drug_chembl_id }}/"> {{ drug.drug_chembl_id }} </a></p>
                <p class="card-text"><strong>Trade name(s):</strong> {{ drug.trade_name }}</p>
                <p class="card-text"><strong>Year Approved:</strong> {{ drug.year_approved }}</p>
                <p class="card-text"><strong>Transcription Factor Target(s):</strong></p>
                {% for htf in htf %}
                <a href="/htf/{{ htf.gene_name }}/">{{ htf.gene_name }}</a>
                {% endfor %}
                <!-- TODO: resize object -->
                <object id="chembl-object" data="https://www.ebi.ac.uk/chembl/embed/#compound_report_card/{{ drug.drug_chembl_id }}/name_and_classification"></object>
            </div>
        </div>
    </main>
{% endblock content %}