<footer class="site-footer">
    <div class="container">
        <div class="row">

            <!-- Footer: about section -->
            <div class="col-md-6">
                <h6>HTFome</h6>
                <p class="text-justify">Explore background information about human transcription factors, the genes they regulate and their estimated activity levels.</p>
                <a href="https://www.qmul.ac.uk/sbcs/" class="footer-icon" title="Queen Mary University of London, SBCS Homepage">
                    <img src="/static/img/logo/qmul-logo-dark.png" class="img-fluid float-start" alt="QMUL logo">
                </a>
            </div>

            <!-- Footer: resources section -->
            <div class="col-md-3">
                <h6>RESOURCES</h6>
                <ul class="footer-links">
                    <li><a href="{% url 'htf' %}">HTF Search</a></li>
                    <li><a href="{% url 'drug' %}">Drug Search</a> </li>
                    <li><a href="{% url 'genexp' %}">GEO DataSet Analyser</a> </li>
                    <li><a href="{% url 'download' %}">Download</a> </li>
                    <li><a href="#">API</a> </li>
                </ul>
            </div>

            <!-- Footer: information section -->
            <div class="col-md-3">
                <h6>INFORMATION</h6>
                <ul class="footer-links">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'help' %}">Help</a> </li>
                    <li><a href="https://github.com/NHardie/HTFome/tree/main/documentation">Documentation</a> </li>
                    <li><a href="https://github.com/NHardie/HTFome">Code on GitHub</a> </li>
                    <li><a href="https://github.com/NHardie/HTFome/issues">Contact Us</a> </li>
                </ul>
            </div>
            <hr class="small">
        </div>

        <!-- Attributions -->
        <div class="container">
            <div class="row">
                <p class="attributions-text">Created by A.M. Andersen, K. Antoniuk, N. Hardie and A. Sutradhar.</p>
            </div>
        </div>

    </div>
</footer>