{% extends "data/base.html" %}

{% block content %}
    <main role="main" class="container">
        <h1 class="mt-4">GEO Data Analysis</h1>
        <p class="lead">Upload gene expression data from the Gene Expression Omnibus (GEO) data repository to obtain summary statistics and an estimate of transcription factor activity</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="document">
            <button type="submit">Upload File</button>
        </form>
        {% if url %}
        <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
        {% endif %}
    </main>
{% endblock content %}