{% extends "data/base.html" %}

{% block content %}

    <main role="main" class="home container">
        <div class="row">

            <!-- Title and description -->
            <div class="col-12 col-lg-7">
                <h1 class="mt-5">HTFome</h1>
                <p class="lead">Explore human transcription factors</p>
            </div>

            <!-- Cards -->
            <div class="col-12 col-lg-5">
                <div class="column">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">HTF Search</h5>
                            <p class="card-text">Search for human transcription factors.</p>
                            <a href="{% url 'htf' %}" class="card-link">Get started</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Drug Search</h5>
                            <p class="card-text">Search for drugs that target human transcription factors.</p>
                            <a href="{% url 'drug' %}" class="card-link">Get started</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">GEO DataSet Analyser</h5>
                            <p class="card-text">Upload gene expression data from GEO to obtain summary statistics and an estimate of transcription factor activity.</p>
                            <a href="{% url 'genexp' %}" class="card-link">Get started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

{% endblock content %}
