{% extends "data/base.html" %}

{% block content %}
    <h1>HTF Data Repo</h1>
    {% for htf in htfs %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ htf.gene_id }}</a>
                    <small class="text-muted">{{ htf.family }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ htf.ID }}</a></h2>
                <p class="article-content">{{ htf.cell_location }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}