{% extends "data/base.html" %}

{% block content %}

    <main role="main" class="container">

        <h1 class="mt-4">HTF Data Search</h1>
        <div class="container">
            <form action="{% url 'htf_results' %}" method="get">
                <input name="q" type="text" placeholder="Search HTFs...">
            </form>
        </div>

        <button onclick="goBack()">Go Back</button>
            <script>
                function goBack() {
                window.history.back();
                }
            </script>

        <div class="info card mb-4">
            <div class="info card-body">
                <h2>{{ htf.gene_name }}</h2>
                <hr>
                <p class="card-text text-muted h6"><strong>Ensemble ID: </strong><a href="http://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ htf.ensemble_id }};r=11:2268495-2270952;t=ENST00000331289/"> {{ htf.ensemble_id }} </a></p>
                <p class="card-text"><strong>UniProt ID: </strong><a href="https://www.uniprot.org/uniprot/{{htf.uniprot_id}}/">{{htf.uniprot_id}}</a></p>
                <p class="card-text"><strong>Protein name: </strong>{{htf.prot_name}}</p>
                <p class="card-text"><strong>DBD name: </strong>{{htf.dbd}}</p>
                <p class="card-text"><strong>Chromosome: </strong>{{htf.chromosome_name}}</p>
                <p class="card-text"><strong>Gene Start: </strong>{{htf.gene_start}}</p>
                <p class="card-text"><strong>Gene End: </strong>{{htf.gene_end}}</p>
                <p class="card-text"><strong>Strand: </strong>{{htf.strand}}</p>
                <p class="card-text"><strong>Function: </strong>{{htf.function}}</p>
                <p class="card-text"><strong>Subcellular Location: </strong>{{htf.sub_cell_location}}</p>
                <p class="card-text"><strong>Up-regulates: </strong>{{htf.up_reg_gene}}</p>
                <p class="card-text"><strong>Down-regulates: </strong>{{htf.down_reg_gene}}</p>
                <p class="card-text"><strong>Unknown Interactions: </strong>{{htf.unknown_interaction}}</p>
                <p class="card-text"><strong>Associated Drug Compounds: </strong></p>
                {% if htf.drug_chembl_id == 'N/A' %}
                N/A
                {% else %}
                {% for i, j in zipped %}
                <a href="https://www.ebi.ac.uk/chembl/compound_report_card/{{ i }}/">{{ i }}</a>: <a href="/drug_search/?Drug={{ j }}&Trade_name=&year_approved=&q=Submit+Query/">{{ j }}</a>,
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}