{% extends "data/base.html" %}

{% block content %}

    <main role="main" class="container">

        <!-- Title -->
        <h1 class="mt-4">HTF Search</h1>
        <p class="lead">Search for human transcription factors</p>

        {% include 'data/htf_search_bar.html' %}

        <!--
        <h1 class="mt-4">HTF Data Search</h1>
        <div class="container">
            <form action="{% url 'htf_results' %}" method="get">
                {{ filter.form.as_table }}
                <input name="q" type="submit">
            </form>
        </div>
        <div class="container">
            <form action="{% url 'htf_results' %}" method="get">
                <input name="q" type="text" placeholder="Search All...">
            </form>
        </div>
        -->


        <!-- HTF Search Result Cards -->
        {% if page_obj %}
            <h5>Search Results for: {{ request.GET.q }}</h5>
            {% for htf in page_obj %}
                <div class="search-result card mb-4">
                <a href="/htf/{{ htf.gene_name }}/" class="link-text">
                    <div class="search-result card-body">
                        <h5>{{ htf.gene_name }}</h5>
                        <p class="card-text text-muted h6">Ensemble ID: {{ htf.ensemble_id }} </p>
                        <p class="card-text">Protein name: {{htf.prot_name}}</p>
                    </div>
                    </a>
                </div>

            <!-- If no results -->
            {% empty %}
                <h4>No results found</h4>
            {% endfor %}

        <!-- Get HTF Info -->
        {% else %}
            <h5>Search Results for:
                {% if request.GET.Gene %} Gene: "{{ request.GET.Gene }}" {% endif %}
                {% if request.GET.Chromosome %} Chromosome: "{{ request.GET.Chromosome }}" {% endif %}
                {% if request.GET.Protein %} Protein: "{{ request.GET.Protein }}" {% endif %}
                {% if request.GET.Function %} Function: "{{ request.GET.Function }}" {% endif %}
                {% if request.GET.Location %} Location: "{{request.GET.Location}}" {% endif %}
                {% if request.GET.Up_Reg %} Up-Regulates: "{{request.GET.Up_Reg}}" {% endif %}
                {% if request.GET.Down_Reg %} Down-Regulates: "{{request.GET.Down_Reg}}" {% endif %}
                {% if request.GET.Drug_Name %} Drug Name: "{{request.GET.Drug_Name}}" {% endif %}
            </h5>

            {% for htf in page_obj_1 %}
                <div class="search-result card mb-4">
                    <a href="/htf/{{ htf.gene_name }}/" class="link-text">
                        <div class="search-result card-body">
                            <h5>{{ htf.gene_name }}</h5>
                            <p class="card-text text-muted h6">Ensemble ID: {{ htf.ensemble_id }} </p>
                            <p class="card-text">Protein name: {{htf.prot_name}}</p>
                        </div>
                    </a>
                </div>

            <!-- If no results -->
            {% empty %}
                <h5>No results found</h5>
            {% endfor %}
        {% endif %}

        <!-- Pagination -->
        <nav aria-label="page navigation">
            <ul class="pagination">
                {% if page_obj %}
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1&q={{ new_request }}">&laquo; first</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ new_request }}">previous</a></li>
                    {% endif %}
                {% else %}
                    {% if page_obj_1.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1&q={{ new_request }}">&laquo; first</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj_1.previous_page_number }}&q={{ new_request }}">previous</a></li>
                    {% endif %}
                {% endif %}
                <span class="current">
                    {% if page_obj %}
                        <li class="page-item"><a class="htf-drug page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="htf-drug page-link">Page {{ page_obj_1.number }} of {{ page_obj_1.paginator.num_pages }}</a></li>
                    {% endif %}
                </span>
                {% if page_obj %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ new_request }}">next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&q={{ new_request }}">last &raquo;</a></li>
                    {% endif %}
                {% else %}
                    {% if page_obj_1.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj_1.next_page_number }}&q={{ new_request }}">next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj_1.paginator.num_pages }}&q={{ new_request }}">last &raquo;</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>

    </main>
{% endblock content %}